@import "tailwindcss";

@theme {
  --default-font-family: Geist;
  --font-accent: "Bebas Neue";

  @keyframes enter-fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes enter-slide-from-bottom {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes enter-slide-from-left {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes enter-slide-from-right {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes exit-fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.animate-fade-in,
.animate-slide-in-from-bottom,
.animate-slide-in-from-left,
.animate-slide-in-from-right {
  opacity: 0;
}

.animate-in.animate-fade-in {
  animation: enter-fade 700ms ease-out forwards;
}

.animate-in.animate-slide-in-from-bottom {
  animation: enter-slide-from-bottom 700ms ease-out forwards;
}

.animate-in.animate-slide-in-from-left {
  animation: enter-slide-from-left 700ms ease-out forwards;
}

.animate-in.animate-slide-in-from-right {
  animation: enter-slide-from-right 700ms ease-out forwards;
}

.animate-fade-out {
  opacity: 1;
}

.animate-in.animate-fade-out {
  animation: exit-fade 700ms ease-out forwards;
}

.animate-in.animate-fade-out {
  animation: exit-fade 700ms ease-out forwards;
}