---

---

<section
  class="px-5 xl:px-96 flex flex-col gap-5 animate-slide-in-from-bottom mb-12"
>
  <h3 class="text-4xl/10 md:text-5xl/20 font-extrabold">
    Código limpo, <br class="hidden xl:block" /> entrega <strong
      class="bg-linear-to-r from-indigo-500 via-violet-500 to-purple-500 bg-clip-text text-transparent"
      >otimizada.</strong
    >
  </h3>
  <p class="text-neutral-400 text-justify">
    Minha prioridade é construir uma web consciente e de alta performance. Eu
    utilizo tecnologias de ponta que garantem que o usuário receba o máximo de
    conteúdo com o mínimo de tempo de carregamento, resultando em sites
    extremamente leves e rápidos. Minha escolha de ferramentas é estratégica,
    focada em entregar um código limpo, de fácil manutenção e com o mais alto
    rigor técnico.
  </p>
  <p class="text-neutral-400 text-justify">
    Minha experiência com sistemas robustos me permite aplicar uma filosofia de
    trabalho organizada e modular. Antes de escrever a primeira linha de código,
    dedico tempo ao planejamento estrutural do projeto para evitar retrabalho e
    garantir eficiência. O resultado final é uma solução digital precisa: um
    site ágil, responsivo e totalmente preparado para acompanhar o crescimento
    do seu negócio.
  </p>
</section>
