---

---

<section
  class="px-5 xl:px-96 flex flex-col gap-5 animate-slide-in-from-bottom mb-12"
>
  <h3 class="text-4xl/10 md:text-5xl/20 font-extrabold">
    Código limpo, <br class="hidden xl:block" /> entrega <strong
      class="bg-linear-to-r from-indigo-500 via-violet-500 to-purple-500 bg-clip-text text-transparent"
      >otimizada.</strong
    >
  </h3>
  <p class="text-neutral-400 text-justify">
    Meu foco é construir a web de forma consciente. Utilizo o Astro para
    garantir que cada projeto entregue o máximo de conteúdo com o mínimo de
    carga para o usuário. Minha stack — Tailwind CSS, TypeScript e Cursor IDE —
    é escolhida para priorizar a manutenibilidade e a precisão técnica.
  </p>
  <p class="text-neutral-400 text-justify">
    Como usuário de Linux, carrego para o desenvolvimento a filosofia de
    sistemas modulares e eficientes. Antes de iniciar o código, dedico tempo ao
    estudo da estrutura do projeto. Isso garante que o resultado final seja
    exatamente o que você precisa: um site rápido, responsivo e preparado para
    crescer.
  </p>
</section>
