---

---

<section>
  <h3 id="contact">Contact</h3>
  <div>
    <table>
      <tr>
        <td class="nerd">󰇮 Email</td>
        <td
          ><a href="mailto:henriquesardinha987@gmail.com" class="nerd"
            >henriquesardinha987@gmail.com</a
          ></td
        >
      </tr>
      <tr>
        <td class="nerd"> GitHub</td>
        <td
          ><a href="https://github.com/Henriquehnnm" class="nerd"
            >github.com/Henriquehnnm</a
          ></td
        >
      </tr>
      <tr>
        <td class="nerd"> GitLab</td>
        <td
          ><a href="https://gitlab.com/Henriquehnnm" class="nerd"
            >gitlab.com/Henriquehnnm</a
          ></td
        >
      </tr>
    </table>
  </div>
</section>

<style>
  section {
    margin: 100px auto;
    max-width: 1500px;

  }

  h3 {
    font-size: 40px;
    text-align: center;
  }

  div {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    max-width: 700px;
  }

  td {
    padding: 20px;
    border: 1px solid var(--border-color);
    color: var(--accent-lime);
    background-color: var(--bg-1);
  }

  a {
    text-decoration: none;
    color: var(--fg-0);
  }

  a:hover {
    text-decoration: underline;
    color: var(--accent-blue);
  }

  @media (max-width: 768px) {
    section {
      margin: 40px 20px;
    }

    h3 {
      font-size: 30px;
    }

    div {
      overflow-x: auto;
      justify-content: flex-start;
    }
  }
</style>
