---

---

<footer>
  <p class="nerd">
    Made by <a href="https://github.com/Henriquehnnm" target="_blank"
      >@Henriquehnnm</a
    >
  </p>
</footer>

<style>
  footer {
    background-color: transparent;
    text-align: center;
    padding: 1px;
  }

  a {
    color: var(--accent-lime);
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
