---

---

<header
  class="flex justify-between items-center bg-black/30 backdrop-blur-3xl fixed top-0 w-full z-50 py-3 px-4"
>
  <div>
    <a href="/" class="font-extrabold text-lg">./Henriquehnnm</a>
  </div>
  <div class="hidden md:flex gap-5 font-light">
    <a href="#inicio" class="hover:text-neutral-400 transition-colors">Início</a
    >
    <a href="#sobre" class="hover:text-neutral-400 transition-colors">Sobre</a>
    <a href="#portfolio" class="hover:text-neutral-400 transition-colors"
      >Portfólio</a
    >
    <a href="#contact" class="hover:text-neutral-400 transition-colors"
      >Contato</a
    >
  </div>
  <div>
    <a
      href="#contact"
      class="px-5 py-2 text-[13px] sm:text-base inline-block border-2 border-white rounded-full hover:bg-white hover:text-black transition-colors"
      >➜ Iniciar Projeto</a
    >
  </div>
</header>
